 <div class="app">

     <div class="angular-univ-container">
         <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Ff%2Ff7%2FAngular_gradient.png&tbnid=-FywZ5wt8iwnOM&vet=12ahUKEwju5aCfl9eEAxWFFGIAHeKPC5QQMygBegQIARA2..i&imgrefurl=https%3A%2F%2Ftr.wikipedia.org%2Fwiki%2FAngular_(Framework)&docid=PoZV41ogOr4K-M&w=1920&h=1920&itg=1&q=angular&ved=2ahUKEwju5aCfl9eEAxWFFGIAHeKPC5QQMygBegQIARA2" alt="">
         <h1>Angular University</h1>
     </div>
     {{ store.todos() | json}}

 </div>
